.chess-container {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .restart-btn:hover {
    background: #444;
  }
  